body {
    background-image: url(../images/nerdcore.jpg);
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 10px auto;
    max-width: 700px;
}

h1 {
    color: rgb(200, 33, 84);
}

h2 {
    color: rgb(29, 138, 78);
}

ul.music-list {
    padding: 0;
    list-style: none;
}

#songs ul.music-list li {
    width: 50%;
    float: left;

    position: relative;
}

#songs ul.music-list li img {
    width: 100%;
}

#songs ul.music-list li a {
    text-decoration: none;
}

#songs ul.music-list li img {
    display: block;;
}

#songs ul.music-list .song-title {
    background-color: rgba(255, 0, 0, 0.7); 
    color: white;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;

}

#button-mixtape{
    margin-top:10px;
    padding: 10px;
    font:Helvetica;
    font-size: 2em;
    color:blue;
    background:yellow;
}

#songs ul.music-list li:hover .song-title {
    background-color: rgba(0, 255, 255, 0.7); 
    color: red;
}



/* Nicolas Gallagher's clearfix */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
